.info{
    width: 90%;
    position: absolute;
    top: 25%;
    left: 15%;
    margin-left: 50px;
}

.greeting {
    font-size: 64px;
    font-weight: 600;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    animation: animate 2s linear forwards;
    color: #ffffff;
}


.card {
    display: flex;
    position: relative;
    background: rgba(0,0,0,0,7);
    width: 800px;
    text-align: left;
    margin-top: 50px;
    left: 12%;
    background: rgb(242, 240, 240);
    padding: 10px 20px;
    border-radius: 5px;
    border:none;
    box-shadow: 0 0 0 4px white;
    transition: 0.3s;
    z-index: 2;
}

.card:hover {
    border: 2px solid #F05A7E;
    box-shadow: 0 0 0 4px white;
}

.description p, h3 {
    color: #000000;
    margin-left: 7px;
}

.description h3 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 30px;
}

@keyframes animate {
    0% { 
      width: 0px;
    }
    100% {
      width: 100%;
    }
}

.description p {
    color: #68686a;
    margin-top: 6px;
}

span {
    text-decoration: underline;
    color:#68686a;
}

.card img{
    height: 300px;
    position: center;
    margin-left: 8px;
    border-radius: 5%;
    z-index:1;
    object-fit: cover;
}

.around-btn {
    display: inline-block;
    background: transparent;
    border: 1px solid #ffffff;
    padding: 12px 13px;
    position: relative;
    cursor: pointer;
}